.banner {
    background-color: #032B2E;
    border-radius: 0px 0px 65px 65px;
    }
    
    .logo{
        width: 50px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .atras{
        position: absolute;
        top: 1rem;
        left: 1rem;
    }

    .avatar{
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 120px;
        height: 120px;
    }

    .editar-foto{
        margin-left: 12px;
        margin-right: auto;
        
    }

    .btn-cerrar{
        color: #ff0000;
        margin-left: 150px;
        margin-right: auto;
    }

    .datos {
        margin-top: 50px;

    }