<ion-header class = "banner" no-border>
  <ion-img src="/assets/logo.png" class = "logo"></ion-img>
</ion-header>
  
  <ion-content fullscreen>

    <ion-card>
      <img src="/assets/convocatorias.jpeg" />
      <ion-card-header>
        <ion-card-title>Convocatorias</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Ingresa para ver todas las convocatorias vigentes</p>
        <br>
        <ion-button color = "ut" routerLink="/convocatorias">Ver convocatorias</ion-button>     
      </ion-card-content>
    </ion-card>
    
  <ion-card>
      <img src="/assets/Calificaciones.png" />
      <ion-card-header>
        <ion-card-title>Calificaciones</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Ingresa para obtener tus calificaciones cuatrimestrales</p>
        <br>
        <ion-button color = "ut" routerLink="/calificaciones">Ver calificaciones</ion-button>     
      </ion-card-content>
    </ion-card>


    <ion-card>
      <img src="/assets/Notificaciones.png" />
      <ion-card-header>
        <ion-card-title>Notificaciones</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Encuentra todas las notificaciones acerca de tu proceso de titulación, inscripción o reinscripción</p>
        <br>
        <ion-button color = "ut" routerLink="/notificaciones" >Ver notificaciones</ion-button>     
      </ion-card-content>
    </ion-card>
  
  
  <ion-footer>
   <ion-toolbar color="ut" class="footer">
     <ion-title>Matrícula</ion-title>
    <ion-button color="blank" fill="clear" slot="end" routerLink="/perfil">
<ion-icon class="icono-usuario" name="contact" slot="end"></ion-icon>
</ion-button> 
   </ion-toolbar>
  </ion-footer>
  
  
