.banner {
    background-color: #032B2E;
    border-radius: 0px 0px 100px 00px;
    height: 200px;
    }

.logo {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    }

.input{
    border-color: #000000;
    border-radius: 10px 10px 10px 10px;
    width: 250px;
    height: 40px;
    }

.btn-ingresar{
    color: #065940;

.content{
    margin-top: 200px;
}
}