<ion-header class = "banner" no-border>
  <ion-buttons slot="start" class = "atras">  
    <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
  <ion-img src="/assets/logo.png" class = "logo"></ion-img>
</ion-header>


<ion-content>
  <ion-item>
    <ion-label>Cuatrimestre</ion-label>
    <ion-select interface="popover">
      <ion-select-option value="ene">Enero-Abril</ion-select-option>
      <ion-select-option value="may">Mayo-Agosto</ion-select-option>
      <ion-select-option value="sep">Sep-Dic</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>

